*.md linguist-documentation
*.csv linguist-documentation
*.png linguist-documentation
*.pdf linguist-documentation
*.eps linguist-documentation
*.dtx linguist-documentation
*.ins linguist-documentation
*.sty linguist-documentation
